@import "./bare.css";

.panel {
  padding: 10px 10px 20px 10px;
}

input.searchInput {
  width: 80%;
}

.resultsList li {
  cursor: pointer;
}

.foodsList li {
  list-style-type: none;
}

.foodsList .foodItem {
  height: 30px;
  padding-right: 15px;
  display: inline-block;
  width: 70%;
}

#macrosChart {
  width: 90%;
}
